<div cdkDropListGroup>
  <div class="container">
    <h2>To do</h2>
    <div
      cdkDropList
      [cdkDropListData]="todo"
      class="list"
      (cdkDropListDropped)="drop($event)"
    >
      <div
        class="box"
        *ngFor="let item of todo; let index = index"
        cdkDrag
        (cdkDragEnded)="vibrate()"
      >
        {{ item }}
        <input
          (click)="deleteTask(index)"
          type="button"
          value="Delete"
          class="col-3 btn btn-danger"
          style="display: none;"
        />
      </div>

      <div class="box" *ngFor="let x of items" cdkDrag>
        {{ x }}
      </div>

      <!--Tasks added repeated divisions-->

      <!-- add task -->
      <div class="row mt-1 m-0">
        <div
          class="col-12 col-md-12 d-flex justify-content-center align-items-center text-light h3"
        >
          <input
            [(ngModel)]="newTask"
            type="text"
            value=""
            class="col-8 form-control"
          />

          <div class="col-1"></div>

          <button
            (click)="addToList()"
            class="col-3 btn btn-light"
            style="white-space: nowrap;"
          >
            Add Task
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <h2>In progress</h2>

    <div
      cdkDropList
      [cdkDropListData]="inprogress"
      class="list"
      (cdkDropListDropped)="drop($event)"
    >
      <div
        class="box"
        *ngFor="let item of inprogress; let index = index"
        cdkDrag
      >
        {{ item }}
        <input
          (click)="deleteInproTask(index)"
          type="button"
          value="Delete"
          class="col-3 btn btn-danger"
          style="display: none;"
        />
      </div>

      <div class="box" *ngFor="let x of items" cdkDrag>
        {{ x }}
      </div>

      <!--Tasks added repeated divisions-->

      <!-- add task -->
      <div class="row mt-1 m-0">
        <div
          class="col-12 col-md-12 d-flex justify-content-center align-items-center text-light h3"
        >
          <input
            [(ngModel)]="newTaskInpro"
            type="text"
            value=""
            class="col-8 form-control"
          />

          <div class="col-1"></div>

          <button
            (click)="addInprog()"
            class="col-3 btn btn-light"
            style="white-space: nowrap;"
          >
            Add Task
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <h2>Done</h2>

    <div
      cdkDropList
      [cdkDropListData]="done"
      class="list"
      (cdkDropListDropped)="drop($event)"
    >
      <div class="box" *ngFor="let item of done; let index = index" cdkDrag>
        {{ item }}
        <input
          (click)="deletedoneTask(index)"
          type="button"
          value="Delete"
          class="col-3 btn btn-danger"
          style="display: none;"
        />
      </div>

      <div class="box" *ngFor="let x of items" cdkDrag>
        {{ x }}
      </div>

      <!--Tasks added repeated divisions-->

      <!-- add task -->
      <div class="row mt-1 m-0">
        <div
          class="col-12 col-md-12 d-flex justify-content-center align-items-center text-light h3"
        >
          <input
            [(ngModel)]="newTaskDone"
            type="text"
            value=""
            class="col-8 form-control"
          />

          <div class="col-1"></div>

          <button
            (click)="addDone()"
            class="col-3 btn btn-light"
            style="white-space: nowrap;"
          >
            Add Task
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <a href="javascript:void(0)" (click)="createNewList()"
      >+ Add another list</a
    >
  </div>
</div>
